body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #fff;
  color: #000;
}

#root {
  min-height: 100vh;
}


.category-box,
.back-link {
  /* padding: 1px 8px 10px 8px; */
  border: 2px solid #000;
  color: #000;
  background: #fff;
  text-decoration: none;
}

